src/main/mule/get-cities-by-country.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get:\countries\(country)\cities:weather-service-v1-config" doc:id="213d802a-978f-461d-aa3b-960f4b05a009">
		<logger level="INFO" doc:name="Log request" doc:id="ca69dacc-1dd3-4a41-b20e-0cd40b752c6a" message="#[modules::Logs::log(vars)]" category="weather-service-v1.get-cities-by-country.request"/>
		<set-variable value="#[attributes.uriParams.country default '?']" doc:name="Set Variable" doc:id="2f9d85f9-2800-4e70-a7c8-ac889cd25513" variableName="country"/>
		<flow-ref doc:name="Get cities by country" doc:id="3fd05de1-48c3-497d-9192-3f5b1502f06a" name="get-cities-by-country-request-subflow" />
		<ee:transform doc:name="Convert payload to XML and get cities data" doc:id="574a519d-1442-41f1-b24e-21d67d237441">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
import decodeXmlResponse from modules::Xml

var citiesData = decodeXmlResponse(payload)

---
read((read(citiesData, "application/xml")).Envelope.Body.GetCitiesByCountryResponse, "application/xml")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Map XML cities data to JSON" doc:id="39ab812d-aeb3-4146-95cf-8354e2742983">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.NewDataSet.*Table map (value, index) -> {"country": (value.Country), "city": (value.City)}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log response" doc:id="01405356-e296-4c5f-8451-954a86eafcda" message='#[modules::Logs::log(vars, {"country": vars.country})]' category="weather-service-v1.get-cities-by-country.response"/>
	</flow>
	<sub-flow name="get-cities-by-country-request-subflow" doc:id="640c1309-a097-47c3-a195-921e39e1d089" >
		<logger level="INFO" doc:name="Log request" doc:id="90ae1c7b-3d2d-4ea8-8516-957c8de5bb95" message="#[modules::Logs::log(vars)]" category="weather-service-v1.get-cities-by-country-request-subflow.http.request"/>
		<http:request method="POST" doc:name="POST to Weather webservice to retrieve cities by country" doc:id="bc306a99-0d4e-4015-ba73-513d3db9d1fb" config-ref="Weather_Server_HTTP_Request_configuration" path="/GlobalWeather" outputMimeType="application/java" >
			<http:body ><![CDATA[#["<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:web=\"http://www.webserviceX.NET\">
   <soapenv:Header/>
   <soapenv:Body>
      <web:GetCitiesByCountry>
         <!--Optional:-->
         <web:CountryName>$(vars.country)</web:CountryName>
      </web:GetCitiesByCountry>
   </soapenv:Body>
</soapenv:Envelope>"]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/xml",
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Log response" doc:id="1e3a5fb7-5a46-4c09-a2c3-ab374336eb8f" message="#[modules::Logs::log(vars)]" category="weather-service-v1.get-cities-by-country-request-subflow.http.response"/>
	</sub-flow>
</mule>
